{% extends 'base.html' %}



{% block content %}
<main>
    <div>
        <h1>{{ todo_list.name }}</h1>
        <p><a href='{% url 'todo_list_update' id=todo_list.id %}'>Edit</a></p>
        <p><a href='{% url 'todo_list_delete' id=todo_list.id %}'>Delete</a></p>
        <h2>Tasks</h2>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Due Date</th>                
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        <a href='{% url 'todo_item_update' id=item.id %}'>
                            {{ item.task }}
                        </a>
                    </td>
                    <td>{{ item.due_date|date:'M d, Y' }}</td>                
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</main>
{% endblock content %}
